*~
.#*
*.go
*.log
*.trs
autom4te.cache/
build-aux/
Makefile
Makefile.in
/configure
/env
/config.status
/config.log
/aclocal.m4
/pre-inst-env
/missing
/test-driver
/install-sh
/scripts/pubstrate-web
/pubstrate/package-config.scm
